/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


html, body{
        height:13000px;
        overflow:auto;
        background-color: #F3DDDB;
        color:white;
        font-family: 'PT Sans', sans-serif;
    }
    #skroll-container{
        width:100%;
        height:100%;
        position:fixed;
    }
    #skroll-container div{
        height:100%;
        overflow:hidden;
        position:absolute;
    }

    .solid-bkgrnd{
        background-color: #F3DDDB;
        white-space: nowrap;
    }

    .pic-bkgrnd{
        background-size: cover;
        white-space: nowrap;
    }

    /* AUTO SCROLL BUTTON */
    #scroller{
        width: 80px;
        height: 80px;
        cursor: pointer;
        z-index: 25;
    }

    #scrollerContainer{
    width: 80px !important;
    height:80px !important;
    margin:1%;
    bottom:50%;
    z-index: 15;
    right:0;
    }

    #scrl{
        width:100%;
    }



    /* SKROLR DIVISIONS */
    #first{
        z-index: 12;
    }
    #second{
        background-image: url('../img/cle.jpg');
        z-index: 11;
    }
    #third{
        z-index: 10;
    }
    #fourth{
        background-image: url('../img/colorMap.jpg');
        z-index: 9;
    }
    #fifth{
        background-image: url('../img/river.jpg');
        position: relative;
        z-index: 8;
    }
    #sixth{
        z-index: 7;
    }
    #seventh{
        background-image: url('../img/sloHome.png');
        z-index: 6;
    }
    #eighth{
        z-index: 5;
    }
    #nineth{
        background-image: url('../img/cleDusk.jpg');
        z-index: 4;
    }
    #tenth{
        z-index: 3;
    }
    #eleventh{
        background-image: url('../img/fixing.jpg');
        z-index: 2;
    }
    #twelveth{
        z-index: 1;
    }
    #thirteenth{
        background-image: url('../img/wedding/sideBike.jpg');
        z-index: 0;
    }
    #thirteenth h2{
        font-size: 6vw;
    }

    /* FONT AND TYPOGRAPHICAL ELEMENTS */
    h1{
        font-family: 'Great Vibes', cursive;
        text-align: center;
        font-size: 11vw;
        color:#4C848D;
        margin-top:3%;
        margin-bottom:0%;
    }
    .subtitle{
        font-family: 'Great Vibes', cursive;
        text-align: center;
        font-size: 7vw;
        color:#F3DDDB;
        background-color:#4C848D;
        margin-top:1%;
    }

    h2{
        font-family: 'Great Vibes', cursive;
        text-align: center;
        font-size: 9vw;
        color:#F3DDDB;
        background-color:#4C848D;
        margin-bottom: 1%;
        padding-bottom: 0%;
    }

    .info{
        background-color:#4C848D;
        color:#F3DDDB;
        height: 60% !important;
        width: 70%;
        margin: 10%;
        margin-top: 2%;
        padding:2%;
        overflow-y:scroll !important;
        white-space: normal;
        min-width: 250px;
        text-align: center;
    }
    .info p{
        font-size: 2.5vw;
    }

    .info a{
        text-decoration: none;
        font-weight: bold;
        color: #B6B2C9;
    }
    .info a:hover{
        color:#5b5964;
    }


    .info img{
        height: 20%;
        width: auto;
    }
    .heart{
        color: rgba(165, 25, 25, 1);
        font-size: .6em;
    }

    ul{
        list-style-type: none;
    }

    /* OTHER ETHNIC STYLINGS */
    #slogreek{
        clear:both;
        width:100%;
        height:50%;
    }
    #slovenian{
        float: left;
        left:0;
        width:40%;
        height:60% !important;
        min-width: 200px;
        padding: 0% 5%;
        position: relative !important;
        text-align: center;
    }
    #slovenian img{
        height:100px;
        width:300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
    #greek{
        float: left;
        width:40%;
        min-width:200px;
        right:0;
        height:60% !important;
        padding: 0% 5%;
        position: relative !important;
        text-align: center;
    }
    #greek img{
        height:100px;
        width:300px;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    #scroller{
        right: 0;
        padding-right: 3%;
        top: 50%;
    }
    /* TANDEM */
    #bike_wrapper{
        z-index:20;
    }
    #bike_wrapper svg{
        position:fixed;
        bottom:10px;
        left:7%;
        width:50%;
        height:60%;
        z-index: 100;
    }


    /* AUDIO CONTROLS */
    #amplitude-play-pause{
        width: 50px;
        height: 50px;
        cursor: pointer;
        float: left;
        z-index: 21;
    }
    #amplitude-play-pause:hover{
        background-image: url('../img/mute.png');
        background-size: 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }
    .amplitude-playing{
        background-image: url('../img/playBtn.png');
        background-size: 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }
    .amplitude-paused:hover{
        background-image: url('../img/mute.png');
        background-size: 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }

    .amplitude-paused{
        background-image: url('../img/mute.png');
        background-size: 40px;
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
    }
    #player{
    width: 50px !important;
    height:50px !important;
    margin:1%;
    bottom:0;
    z-index: 13;
    }

    #player-top{
        width:100%;
        height:100%;
    }

/* Mobile Friendly */
@media (max-width: 500px){
    h2{
        font-size: 8vw;
    }
    .info{
        width:100%;
        height:95% !important;
        margin:0px;
        margin-top: 2.5%;
        padding:0px;
    }
    .info p{
        font-size: 4vw;
    }
    #slovenian, #greek{
        padding:0px;
        width:100%;
        height:20% !important;
    }
    #slogreek{
        height:30% !important;
    }

}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
